body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightblue;
}
.container{
    width: 850px;
    background-color: white;
    display: flex;
    padding: 60px 40px;
    align-items: flex-end;
    border-radius: 30px;
    gap: 50px;
}
.hangman-box img {
    max-width: 270px;
}
.hangman-box h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display {
    display:flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.word-display .letter {
    width: 28px;
    border-bottom: 3px solid black;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.word-display .letter.guessed {
border-color: transparent;
margin: -40px 0 35px;
}
.game-box h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 500;
}
.game-box .guesses-text b {
    color: red;
}
.game-box .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.keyboard button {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    background: red;
    cursor: pointer;
    border-radius: 8px;
}
.keyboard button:hover {
    background: gold;
}
.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    height: 40%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0,0.6);
}
.game-modal img{
   max-width: 130px;
   margin-bottom: 20px;
}
.game-modal .content {
background: white;
max-width: 420px;
width: 100%;
padding: 30px;
border-radius: 20px;
}
.game-modal h4 {
    font-size: 1.5rem;
}
.game-modal p {
    font-size: 1.5rem;
}
.game-modal p b{
    font-size: 1.6rem;
}
/* use media to make the window responsive */
@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img {
        max-width: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
}
